<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!default">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="default">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <level>status</level>
                    <exclude>version</exclude>
                </fieldNames>
                <includeMdcKeyName>true</includeMdcKeyName>
                <timeZone>UTC</timeZone>
                <timeStampFormat>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timeStampFormat>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>
</configuration>
