$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";

$primary: #07689f;

@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "~bootstrap/scss/bootstrap";

.version-badge {
  padding-left: 20px;
}
